:root {
  --main-color: #212121;
  --accent-color: #2196f3;
  --text-color: #757575;
  --background-color: #2f303a;
  --title-color: #ffffff;
  --filter-color: #f5f4fa;
}

body {
  color: var (--main-color);
  background-color: var(--title-color);

  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

.hidden-title {
  display: none;
}

/* HEADER */

.logo {
  color: #000000;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.logo-item {
  color: var(--accent-color);
}

/* NAVIGATION */

.nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var (--main-color);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}

.current {
  color: var(--accent-color);
}

.nav-contact {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--text-color);
}

.nav-contact:hover,
.nav-contact:focus {
  color: var(--accent-color);
}

/* HERO */

.hero {
  background-color: var(--background-color);
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--title-color);
}

.main-btn {
  width: 200px;
  height: 50px;
  left: 700px;
  top: 430px;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: var(--accent-color);
  cursor: pointer;

  color: var(--title-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;

  letter-spacing: 0.06em;
}

.main-btn:hover,
.main-btn:focus {
  color: var(--accent-color);
  background-color: var(--title-color);
}

/* SKILLS */

.skills-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  color: var(--main-color);
}

.skills-text {
  font-size: 14px;
  line-height: 1.71;

  color: var(--text-color);
}

/* EXAMPLES */

.works-title,
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;

  color: var(--main-color);
}

/* TEAM */

.team {
  background-color: var(--filter-color);
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;

  text-align: center;

  color: var(--main-color);
}

.team-position {
  font-size: 16px;
  line-height: 1.19;

  text-align: center;

  color: var(--text-color);
}

/* FOOTER */

.footer {
  color: var(--title-color);
  background-color: var(--background-color);
}

.logo-footer {
  color: var(--title-color);
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.contact-list {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
}

.contact-link {
  color: rgba(255, 255, 255, 0.6);
}

.contact-address:hover,
.contact-address:focus,
.contact-link:hover,
.contact-link:focus {
  color: var(--accent-color);
}

/* PORTFOLIO */

.filter-btn {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;

  text-align: center;
  cursor: pointer;

  color: var(--main-color);

  background: var(--filter-color);
  border-radius: 4px;
  border: transparent;
}

.filter-btn:hover,
.filter-btn:focus {
  color: var(--title-color);
  background-color: var(--accent-color);
}

.project-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;

  letter-spacing: 0.06em;

  color: var(--main-color);
}

.project-text {
  font-size: 16px;
  line-height: 1.88;

  color: var(--text-color);
}
